<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <div>
        <mat-icon>cloud_upload</mat-icon>
      </div>
      <div>DATA</div>
    </ng-template>
    <table>
      <tr>
        <td>
          <app-data-source-selector (dataSourceChanged)="onDataSourceChange($event)"></app-data-source-selector>
        </td>
        <td>
          <app-data-viewer [data]="selectedJson"></app-data-viewer>
        </td>
      </tr>
    </table>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div>
        <mat-icon>check_box</mat-icon>
      </div>
      <div>RULES</div>
    </ng-template>
    <table>
      <tr>
        <td>
          <app-rule-selector></app-rule-selector>
        </td>
        <td>
          <div>
            <app-map-viewer></app-map-viewer>
          </div>
          <div>
            <app-notification></app-notification>
          </div>
        </td>
      </tr>
    </table>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div>
        <mat-icon>edit_location</mat-icon>
      </div>
      <div>ACTIONS</div>
    </ng-template>
    <table>
      <tr>
        <td>
          <div>
            <app-action-selector></app-action-selector>
          </div>
          <div>
            <button mat-raised-button color="primary" (click)="execute()">Apply</button>
          </div>
        </td>
        <td>
          <div>
            <app-map-viewer></app-map-viewer>
          </div>
          <div>
              <div [class]="messageType">
                  <span class="v-align">{{message}}</span>
                </div>
          </div>
        </td>
      </tr>
    </table>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div>
        <mat-icon>cloud_done</mat-icon>
      </div>
      <div>RESULTS</div>
    </ng-template>
    <table>
      <tr>
        <td>
          <app-data-viewer [data]="selectedJson"></app-data-viewer>
        </td>
        <td>
          <app-map-viewer></app-map-viewer>
        </td>
      </tr>
    </table>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div>
        <mat-icon>format_list_numbered</mat-icon>
      </div>
      <div>HOW TO</div>
    </ng-template>
    <app-howto></app-howto>
  </mat-tab>
</mat-tab-group>